.content
  margin-left: 300px
  @media (max-width: 768px)
    margin-left: 0
  ul
    list-style: none
    padding: 0
    margin: 0
    .content-song-list
      outline: none
      text-align: left
      border: 1px solid #292929;
      font-size: 15px
      width: 100%
      margin: 0
      padding-bottom: 1em;
      padding-top: 1em;
      padding-left: 1em
      cursor: pointer
      background: none
      color: #fff
      font-weight: 300
      display: flex
      &:hover
        background-color: #2c2c2c
      &:last-child
        border-bottom: 0
      &:nth-child(odd)
        border-top: none
        border-bottom: none
        border-left: none 
      &:nth-child(even)
        border-left: none
    .playing
      color: gold
      padding-right: 0.5em
      letter-spacing: 0.05em;
    .highlight
      background-color: #292929