nav
  padding: 20px
  width: calc(100% - 300px)
  line-height: 21px
  background: #1e1e1e
  margin-left: 300px
  @media (max-width: 768px)
    margin-left: 0
    width: 100%

  .container
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    img
      height: 40px
    button
      border: none
      background-color: transparent
      min-width: 84px
      font-weight: 600
      padding: 6px 12px
      border-radius: 4px
      font-size: 14px
      outline: none
      cursor: pointer
      border: 1px solid #fff
      color: #fff
      a
        outline: none
        color: white
        text-decoration: none
