.player
  background-color: #2f2e2e
  width: 100%
  position: fixed
  display: flex
  bottom: 0px
  left: 0px
  z-index: 2
  overflow: hidden
  box-shadow: 0px 1px 4px rgba(0,0,0,0.15)
  .content-wrapper
    margin: 0 auto
    width: 100%
    padding: 10px
    display: flex
    align-items: center
    flex-flow: row
    @media (max-width: 768px)
      flex-flow: column
    .now-playing-bar
      &__left
        width: 30%
        min-width: 180px
        text-align: left
        display: flex
        align-items: center
        @media (max-width: 768px)
          display: none
        .player-thumbnail
          border: 1px solid rgb(0, 0, 0)
          position: relative
          &:after
            content: ''
            position: absolute
            top: 0
            left: 0px
            right: 0
            bottom: 0
            max-width: 100%
            border: 1px solid rgba(255,255,255,0.20)
          #image
            max-width: 100%
            width: 80px
            height: 80px
            display: block
        .player-song-title
          display: flex
          flex-direction: column
          align-items: flex-start
          padding-left: 10px
          #title, #artist
            margin: 0
            line-height: 1.58
            letter-spacing: -.003em
            word-break: break-word
            word-wrap: break-word
            font-weight: 300
          #artist
            font-size: 14px
            color: #ccc
          #title
            font-size: 16px
            font-weight: 400
            color: #fff
      &__right
        width: 30%
        min-width: 180px
        text-align: right
        display: flex
        align-items: center
        justify-content: flex-end
        @media (max-width: 768px)
          display: none
      &__center
        width: 40%
        max-width: 722px
        @media (max-width: 768px)
          width: 100%
        .player-controls
          display: flex
          -ms-flex-direction: column
          flex-direction: column
          -ms-flex-pack: center
          justify-content: center
          -ms-flex-align: center
          align-items: center
          .playback-bar
            cursor: pointer
            display: flex
            align-items: center
            flex-flow: column
            width: 100%
            display: -ms-flexbox
            display: flex;
            -ms-flex-direction: row
            flex-direction: row
            -ms-flex-pack: justify
            justify-content: space-between
            -ms-flex-align: center
            align-items: center
            &:hover .progress-circle
              transform: scale(1)
            .progress-outer
              background: #4f4e4e
              width: 100%
              margin: 2px 0
              height: 2px
              position: relative
              display: flex
              flex-direction: row
              justify-content: space-between
              align-items: center
              border-radius: 10px
              z-index: 0
              #playback-progress
                background: gold
                width: 0%
                height: 2px
                position: absolute
                left: 0px
                top: 0px
                max-width: 100%
                border-radius: 10px
                .progress-circle
                  position: absolute
                  left: 0
                  top: calc(50% - 6px)
                  height: 12px
                  width: 12px
                  margin-left: -6px
                  border-radius: 50%
                  background-color: #2A2A2A
                  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
                  z-index: 100
                  transform: scale(0)
                  transition: transform 0.2s ease

            #current-time,#end-time
              font-size: 11px
              line-height: 25px
              letter-spacing: .015em
              min-width: 40px
              text-align: center
              color: #b0afaf
              z-index: 2
              margin: 0
      
        .button-group
          display: flex
          align-items: center
          justify-content: center
          button
            border: none
            padding: 15px 15px
            margin-right: 1em
            border-radius: 50%
            height: 35px
            width: 35px
            color: #848484
            outline: none
            position: relative
            transition: all 0.1s ease
            cursor: pointer
            background-color: transparent

          .next, .prev 
            &:before
              content: ''
              position: absolute
              top: 50%
              left: 50%
              transform: translate(-50%, -50%)
              display: block
              width: 0
              height: 0
              border-top: 6px solid transparent
              border-bottom: 6px solid transparent
            &:after
              content: ''
              position: absolute
              top: 50%
              display: block
              background-color: #c5c5c5
              height: 12px
              width: 2px
          .next
            &:before
              border-left: 8px solid #c5c5c5
            &:after
              left: 65%
              transform: translate(-65%, -50%)
          .prev
            &:before
              border-right: 8px solid #c5c5c5
            &:after
              left: 35%
              transform: translate(-35%, -50%)
          .playing
            height: 35px
            width: 35px
            border: 1px solid #c5c5c5
            &:hover
              border-color: #fff
            &:hover:after,
            &:hover:before
              background-color: #fff
            &:before, &:after
              content: ''
              position: absolute
              top: 50%
              left: 40%
              display: block
              background-color: #c5c5c5
              height: 12px
              width: 2px
              border-radius: 4px
            &:after
              left: 60%
              transform: translate(-60%, -50%)
            &:before
              left: 39%
              transform: translate(-38%, -50%)

          .paused
            height: 35px
            width: 35px
            border: 1px solid #c5c5c5
            &:before
              content: ''
              position: absolute
              top: 50%
              left: 33%
              transform: translate(33%, -50%)
              display: block
              width: 0
              height: 0
              border-top: 6px solid transparent
              border-bottom: 6px solid transparent
              border-left: 8px solid #c5c5c5