.player-playlist
  background-color: #1e1e1e
  position: fixed
  left: 0px
  top: 0px
  width: 300px
  height: 100%
  overflow: hidden
  padding: 0 20px 20px
  border-right: 1px solid #292929
  @media (max-width: 768px)
    left: -300px
  h3
    font-size: 14px
    font-weight: 600
    margin: 24px 0 10px 0
    color: white
  ul
    text-decoration: none
    list-style: none
    padding: 0
    margin: 0
    button
      font-weight: 300
      color: white
      line-height: 24px
      position: relative
      display: block
      background: none
      border: none
      font-size: 16px
      padding: 0
      outline: none
      cursor: pointer
    .selected
      &:before
        content: ''
        border-left: 3px solid #ff9455
        width: 3px
        height: 22px
        position: absolute
        left: -20px
        top: 0

  p
    border-bottom: 1px solid #eee
    margin: 0
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em
    cursor: pointer
    &:hover
      background-color: #ccc
    &:last-child
      border-bottom: 0
    &:first-child
      border-top: 1px solid #eee
