.volume-bar
  cursor: pointer
  display: flex
  align-items: center
  flex-flow: column
  width: 50%
  display: -ms-flexbox
  display: flex;
  -ms-flex-direction: row
  flex-direction: row
  -ms-flex-pack: justify
  justify-content: space-between
  -ms-flex-align: center
  align-items: center
  &:hover .progress-circle
    transform: scale(1)
  #current-vol, #end-vol
    font-size: 11px
    line-height: 25px
    letter-spacing: .015em
    min-width: 40px
    text-align: center
    color: #fff
    z-index: 2
    margin: 0
  .volume-outer
    background: #4f4e4e
    width: 100%
    margin: 2px 0
    height: 2px
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    border-radius: 10px
    z-index: 0
    .volume-progress
      background: #c5c5c5
      width: 0%
      height: 2px
      position: absolute
      left: 0px
      top: 0px
      max-width: 100%
      border-radius: 10px
      .progress-circle
        position: absolute
        left: 0
        top: calc(50% - 6px)
        height: 12px
        width: 12px
        margin-left: -6px
        border-radius: 50%
        background-color: #2A2A2A
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
        z-index: 100
        transform: scale(0)
        transition: transform 0.2s ease