@import './styles/UploadSong.sass'
@import './styles/VolumeBar.sass'
@import './styles/Content.sass'
@import './styles/Player.sass'
@import './styles/Playlist.sass'
@import './styles/Navbar.sass'
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro:300,400,700,900')

*
  box-sizing: border-box
  font-family: 'Source Sans Pro', sans-serif

body, html
  padding: 0
  margin: 0
  background: #1e1e1e
  height: 100%

html
  height: 100%
  width: 100%
  overflow: hidden

// #hoho
//   position: absolute
//   left: 50%
//   top: 50%