@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro:300,400,700,900");
.volume-bar {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }
  .volume-bar:hover .progress-circle {
    transform: scale(1); }
  .volume-bar #current-vol, .volume-bar #end-vol {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: .015em;
    min-width: 40px;
    text-align: center;
    color: #fff;
    z-index: 2;
    margin: 0; }
  .volume-bar .volume-outer {
    background: #4f4e4e;
    width: 100%;
    margin: 2px 0;
    height: 2px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 0; }
    .volume-bar .volume-outer .volume-progress {
      background: #c5c5c5;
      width: 0%;
      height: 2px;
      position: absolute;
      left: 0px;
      top: 0px;
      max-width: 100%;
      border-radius: 10px; }
      .volume-bar .volume-outer .volume-progress .progress-circle {
        position: absolute;
        left: 0;
        top: calc(50% - 6px);
        height: 12px;
        width: 12px;
        margin-left: -6px;
        border-radius: 50%;
        background-color: #2A2A2A;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        z-index: 100;
        transform: scale(0);
        transition: transform 0.2s ease; }

.content {
  margin-left: 300px; }
  @media (max-width: 768px) {
    .content {
      margin-left: 0; } }
  .content ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .content ul .content-song-list {
      outline: none;
      text-align: left;
      border: 1px solid #292929;
      font-size: 15px;
      width: 100%;
      margin: 0;
      padding-bottom: 1em;
      padding-top: 1em;
      padding-left: 1em;
      cursor: pointer;
      background: none;
      color: #fff;
      font-weight: 300;
      display: flex; }
      .content ul .content-song-list:hover {
        background-color: #2c2c2c; }
      .content ul .content-song-list:last-child {
        border-bottom: 0; }
      .content ul .content-song-list:nth-child(odd) {
        border-top: none;
        border-bottom: none;
        border-left: none; }
      .content ul .content-song-list:nth-child(even) {
        border-left: none; }
    .content ul .playing {
      color: gold;
      padding-right: 0.5em;
      letter-spacing: 0.05em; }
    .content ul .highlight {
      background-color: #292929; }

.player {
  background-color: #2f2e2e;
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); }
  .player .content-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: row; }
    @media (max-width: 768px) {
      .player .content-wrapper {
        flex-flow: column; } }
    .player .content-wrapper .now-playing-bar__left {
      width: 30%;
      min-width: 180px;
      text-align: left;
      display: flex;
      align-items: center; }
      @media (max-width: 768px) {
        .player .content-wrapper .now-playing-bar__left {
          display: none; } }
      .player .content-wrapper .now-playing-bar__left .player-thumbnail {
        border: 1px solid black;
        position: relative; }
        .player .content-wrapper .now-playing-bar__left .player-thumbnail:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0px;
          right: 0;
          bottom: 0;
          max-width: 100%;
          border: 1px solid rgba(255, 255, 255, 0.2); }
        .player .content-wrapper .now-playing-bar__left .player-thumbnail #image {
          max-width: 100%;
          width: 80px;
          height: 80px;
          display: block; }
      .player .content-wrapper .now-playing-bar__left .player-song-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px; }
        .player .content-wrapper .now-playing-bar__left .player-song-title #title, .player .content-wrapper .now-playing-bar__left .player-song-title #artist {
          margin: 0;
          line-height: 1.58;
          letter-spacing: -.003em;
          word-break: break-word;
          word-wrap: break-word;
          font-weight: 300; }
        .player .content-wrapper .now-playing-bar__left .player-song-title #artist {
          font-size: 14px;
          color: #ccc; }
        .player .content-wrapper .now-playing-bar__left .player-song-title #title {
          font-size: 16px;
          font-weight: 400;
          color: #fff; }
    .player .content-wrapper .now-playing-bar__right {
      width: 30%;
      min-width: 180px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      @media (max-width: 768px) {
        .player .content-wrapper .now-playing-bar__right {
          display: none; } }
    .player .content-wrapper .now-playing-bar__center {
      width: 40%;
      max-width: 722px; }
      @media (max-width: 768px) {
        .player .content-wrapper .now-playing-bar__center {
          width: 100%; } }
      .player .content-wrapper .now-playing-bar__center .player-controls {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center; }
        .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar {
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-flow: column;
          width: 100%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-align: center;
          align-items: center; }
          .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar:hover .progress-circle {
            transform: scale(1); }
          .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar .progress-outer {
            background: #4f4e4e;
            width: 100%;
            margin: 2px 0;
            height: 2px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            z-index: 0; }
            .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar .progress-outer #playback-progress {
              background: gold;
              width: 0%;
              height: 2px;
              position: absolute;
              left: 0px;
              top: 0px;
              max-width: 100%;
              border-radius: 10px; }
              .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar .progress-outer #playback-progress .progress-circle {
                position: absolute;
                left: 0;
                top: calc(50% - 6px);
                height: 12px;
                width: 12px;
                margin-left: -6px;
                border-radius: 50%;
                background-color: #2A2A2A;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                z-index: 100;
                transform: scale(0);
                transition: transform 0.2s ease; }
          .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar #current-time, .player .content-wrapper .now-playing-bar__center .player-controls .playback-bar #end-time {
            font-size: 11px;
            line-height: 25px;
            letter-spacing: .015em;
            min-width: 40px;
            text-align: center;
            color: #b0afaf;
            z-index: 2;
            margin: 0; }
      .player .content-wrapper .now-playing-bar__center .button-group {
        display: flex;
        align-items: center;
        justify-content: center; }
        .player .content-wrapper .now-playing-bar__center .button-group button {
          border: none;
          padding: 15px 15px;
          margin-right: 1em;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          color: #848484;
          outline: none;
          position: relative;
          transition: all 0.1s ease;
          cursor: pointer;
          background-color: transparent; }
        .player .content-wrapper .now-playing-bar__center .button-group .next:before, .player .content-wrapper .now-playing-bar__center .button-group .prev:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent; }
        .player .content-wrapper .now-playing-bar__center .button-group .next:after, .player .content-wrapper .now-playing-bar__center .button-group .prev:after {
          content: '';
          position: absolute;
          top: 50%;
          display: block;
          background-color: #c5c5c5;
          height: 12px;
          width: 2px; }
        .player .content-wrapper .now-playing-bar__center .button-group .next:before {
          border-left: 8px solid #c5c5c5; }
        .player .content-wrapper .now-playing-bar__center .button-group .next:after {
          left: 65%;
          transform: translate(-65%, -50%); }
        .player .content-wrapper .now-playing-bar__center .button-group .prev:before {
          border-right: 8px solid #c5c5c5; }
        .player .content-wrapper .now-playing-bar__center .button-group .prev:after {
          left: 35%;
          transform: translate(-35%, -50%); }
        .player .content-wrapper .now-playing-bar__center .button-group .playing {
          height: 35px;
          width: 35px;
          border: 1px solid #c5c5c5; }
          .player .content-wrapper .now-playing-bar__center .button-group .playing:hover {
            border-color: #fff; }
          .player .content-wrapper .now-playing-bar__center .button-group .playing:hover:after, .player .content-wrapper .now-playing-bar__center .button-group .playing:hover:before {
            background-color: #fff; }
          .player .content-wrapper .now-playing-bar__center .button-group .playing:before, .player .content-wrapper .now-playing-bar__center .button-group .playing:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 40%;
            display: block;
            background-color: #c5c5c5;
            height: 12px;
            width: 2px;
            border-radius: 4px; }
          .player .content-wrapper .now-playing-bar__center .button-group .playing:after {
            left: 60%;
            transform: translate(-60%, -50%); }
          .player .content-wrapper .now-playing-bar__center .button-group .playing:before {
            left: 39%;
            transform: translate(-38%, -50%); }
        .player .content-wrapper .now-playing-bar__center .button-group .paused {
          height: 35px;
          width: 35px;
          border: 1px solid #c5c5c5; }
          .player .content-wrapper .now-playing-bar__center .button-group .paused:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 33%;
            transform: translate(33%, -50%);
            display: block;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 8px solid #c5c5c5; }

.player-playlist {
  background-color: #1e1e1e;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  overflow: hidden;
  padding: 0 20px 20px;
  border-right: 1px solid #292929; }
  @media (max-width: 768px) {
    .player-playlist {
      left: -300px; } }
  .player-playlist h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 24px 0 10px 0;
    color: white; }
  .player-playlist ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    .player-playlist ul button {
      font-weight: 300;
      color: white;
      line-height: 24px;
      position: relative;
      display: block;
      background: none;
      border: none;
      font-size: 16px;
      padding: 0;
      outline: none;
      cursor: pointer; }
    .player-playlist ul .selected:before {
      content: '';
      border-left: 3px solid #ff9455;
      width: 3px;
      height: 22px;
      position: absolute;
      left: -20px;
      top: 0; }
  .player-playlist p {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    cursor: pointer; }
    .player-playlist p:hover {
      background-color: #ccc; }
    .player-playlist p:last-child {
      border-bottom: 0; }
    .player-playlist p:first-child {
      border-top: 1px solid #eee; }

nav {
  padding: 20px;
  width: calc(100% - 300px);
  line-height: 21px;
  background: #1e1e1e;
  margin-left: 300px; }
  @media (max-width: 768px) {
    nav {
      margin-left: 0;
      width: 100%; } }
  nav .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .container img {
      height: 40px; }
    nav .container button {
      border: none;
      background-color: transparent;
      min-width: 84px;
      font-weight: 600;
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      border: 1px solid #fff;
      color: #fff; }
      nav .container button a {
        outline: none;
        color: white;
        text-decoration: none; }

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

body, html {
  padding: 0;
  margin: 0;
  background: #1e1e1e;
  height: 100%; }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
